/* file contains colors used throughout page */

.container, button {
    border-radius: 10px;
}

.container {
    background-color: rgb(224, 224, 224);
}

button {
    background-color: rgb(224, 224, 224);
    border: none;
}

button:hover {
    background-color:rgb(193, 193, 193)
}

.main-screen {
    background-color: white;
}

.key-wrapper {
    background-color: white;
}

.equal-sign {
    background-color: #2e86c0;
}

.equal-sign:hover {
    background-color: #33a0e9;
}

.ac-sign {
    background-color: rgb(223, 122, 122);
}