/* file contains styles that manage page layouts and segments, including grids */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

h1 {
    margin: -1em 0 1em 0;
}

.container {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.main-screen {
    width: 450px;
    height: 150px;
}

.key-wrapper {
    width: 450px;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

/* individul key manipulation */

.operator {
    font-size: 2em;
}

.equal-sign {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
}

.plus-sign {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
}

.num0 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
}